USE [master]
GO

CREATE DATABASE [OrderManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrderManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OrderManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrderManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OrderManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrderManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrderManagementDB]
GO

CREATE TYPE [dbo].[OrderDetailType] AS TABLE(
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[DiscountId] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[NetAmount] [decimal](18, 2) NOT NULL
)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstDiscountMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiscountType] [varchar](50) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstProductMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [varchar](50) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[TotalDiscount] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
	[Remark] [varchar](500) NULL,
	[BillingAddress] [varchar](500) NULL,
	[ShippingAddress] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrnOrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[DiscountId] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[NetAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TrnOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Discount] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[MstDiscountMaster] ([Id])
GO
ALTER TABLE [dbo].[TrnOrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Discount]
GO
ALTER TABLE [dbo].[TrnOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[TrnOrder] ([Id])
GO
ALTER TABLE [dbo].[TrnOrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[TrnOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[MstProductMaster] ([Id])
GO
ALTER TABLE [dbo].[TrnOrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetDiscountById]
(
    @DiscountId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF @DiscountId IS NULL OR @DiscountId <= 0
        BEGIN
            THROW 50002, 'Invalid DiscountId.', 1;
        END;

        SELECT
            Id,
            DiscountType,
            Value
        FROM dbo.MstDiscountMaster
        WHERE Id = @DiscountId;

    END TRY
    BEGIN CATCH

        THROW;

    END CATCH
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetDiscounts]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            Id,
            DiscountType,
            Value
        FROM dbo.MstDiscountMaster
        ORDER BY Id;

    END TRY
    BEGIN CATCH

        THROW;

    END CATCH
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetOrderByCode]
    @OrderCode VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;


    SELECT
        Id,
        OrderCode,
        OrderDate,
        SubTotal,
        TotalDiscount,
        GrandTotal,
        Remark,
        BillingAddress,
        ShippingAddress
    FROM TrnOrder
    WHERE OrderCode = @OrderCode;



    SELECT
        od.Id,
        od.OrderId,
        od.ProductId,
        p.ProductName,
        od.Quantity,
        od.Rate,
        od.Amount,
        od.DiscountId,
        d.DiscountType,
        od.DiscountAmount,
        od.NetAmount
    FROM TrnOrderDetails od
    INNER JOIN MstProductMaster p
        ON od.ProductId = p.Id
    INNER JOIN MstDiscountMaster d
        ON od.DiscountId = d.Id
    INNER JOIN TrnOrder o
        ON od.OrderId = o.Id
    WHERE o.OrderCode = @OrderCode
    ORDER BY od.Id;
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetProductById]
(
    @ProductId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF @ProductId IS NULL OR @ProductId <= 0
        BEGIN
            THROW 50001, 'Invalid ProductId.', 1;
        END;

        SELECT
            Id,
            ProductName,
            Rate
        FROM dbo.MstProductMaster
        WHERE Id = @ProductId;

    END TRY
    BEGIN CATCH

        THROW;

    END CATCH
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetProducts]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            Id,
            ProductName,
            Rate
        FROM dbo.MstProductMaster
        ORDER BY ProductName;

    END TRY
    BEGIN CATCH

        THROW;

    END CATCH
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SaveOrder]
(
    @OrderCode VARCHAR(50),
    @OrderDate DATE,
    @SubTotal DECIMAL(18,2),
    @TotalDiscount DECIMAL(18,2),
    @GrandTotal DECIMAL(18,2),
    @Remark VARCHAR(500) = NULL,
    @BillingAddress VARCHAR(500) = NULL,
    @ShippingAddress VARCHAR(500) = NULL,
    @OrderDetails dbo.OrderDetailType READONLY
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @OrderId INT;

    BEGIN TRY

        IF NULLIF(LTRIM(RTRIM(@OrderCode)), '') IS NULL
        BEGIN
            THROW 50010, 'Order code is required.', 1;
        END;

        IF @OrderDate IS NULL
        BEGIN
            THROW 50011, 'Order date is required.', 1;
        END;

        IF NOT EXISTS
        (
            SELECT 1
            FROM @OrderDetails
        )
        BEGIN
            THROW 50012, 'At least one order detail is required.', 1;
        END;

        IF @SubTotal < 0
        BEGIN
            THROW 50013, 'Subtotal cannot be negative.', 1;
        END;

        IF @TotalDiscount < 0
        BEGIN
            THROW 50014, 'Total discount cannot be negative.', 1;
        END;

        IF @GrandTotal < 0
        BEGIN
            THROW 50015, 'Grand total cannot be negative.', 1;
        END;

        IF EXISTS
        (
            SELECT 1
            FROM dbo.TrnOrder
            WHERE OrderCode = @OrderCode
        )
        BEGIN
            THROW 50016, 'Order code already exists.', 1;
        END;

        IF EXISTS
        (
            SELECT 1
            FROM @OrderDetails
            WHERE ProductId <= 0
               OR Quantity <= 0
               OR Rate < 0
               OR Amount < 0
               OR DiscountId <= 0
               OR DiscountAmount < 0
               OR NetAmount < 0
        )
        BEGIN
            THROW 50017, 'Invalid order detail values.', 1;
        END;

        IF EXISTS
        (
            SELECT 1
            FROM @OrderDetails od
            LEFT JOIN dbo.MstProductMaster p
                ON p.Id = od.ProductId
            WHERE p.Id IS NULL
        )
        BEGIN
            THROW 50018, 'One or more products are invalid.', 1;
        END;

        IF EXISTS
        (
            SELECT 1
            FROM @OrderDetails od
            LEFT JOIN dbo.MstDiscountMaster d
                ON d.Id = od.DiscountId
            WHERE d.Id IS NULL
        )
        BEGIN
            THROW 50019, 'One or more discounts are invalid.', 1;
        END;

        IF EXISTS
        (
            SELECT 1
            FROM @OrderDetails
            WHERE Amount <> (Rate * Quantity)
        )
        BEGIN
            THROW 50020, 'Invalid amount calculation.', 1;
        END;


        IF EXISTS
        (
            SELECT 1
            FROM @OrderDetails od
            INNER JOIN dbo.MstDiscountMaster d
                ON d.Id = od.DiscountId
            WHERE
                (
                    d.DiscountType = 'Percentage'
                    AND od.DiscountAmount <>
                        ROUND(
                            od.Amount * d.Value / 100,
                            2
                        )
                )
                OR
                (
                    d.DiscountType = 'Fixed'
                    AND od.DiscountAmount <>
                        ROUND(
                            d.Value * od.Quantity,
                            2
                        )
                )
        )
        BEGIN
            THROW 50021, 'Invalid discount calculation.', 1;
        END;


        IF EXISTS
        (
            SELECT 1
            FROM @OrderDetails
            WHERE NetAmount <>
                  Amount - DiscountAmount
        )
        BEGIN
            THROW 50022, 'Invalid net amount calculation.', 1;
        END;

        IF @SubTotal <>
        (
            SELECT SUM(Amount)
            FROM @OrderDetails
        )
        BEGIN
            THROW 50023, 'Invalid subtotal.', 1;
        END;


        IF @TotalDiscount <>
        (
            SELECT SUM(DiscountAmount)
            FROM @OrderDetails
        )
        BEGIN
            THROW 50024, 'Invalid total discount.', 1;
        END;


        IF @GrandTotal <>
        (
            SELECT SUM(NetAmount)
            FROM @OrderDetails
        )
        BEGIN
            THROW 50025, 'Invalid grand total.', 1;
        END;

        BEGIN TRANSACTION;

        INSERT INTO dbo.TrnOrder
        (
            OrderCode,
            OrderDate,
            SubTotal,
            TotalDiscount,
            GrandTotal,
            Remark,
            BillingAddress,
            ShippingAddress
        )
        VALUES
        (
            @OrderCode,
            @OrderDate,
            @SubTotal,
            @TotalDiscount,
            @GrandTotal,
            @Remark,
            @BillingAddress,
            @ShippingAddress
        );

        SET @OrderId = CONVERT(INT, SCOPE_IDENTITY());

        INSERT INTO dbo.TrnOrderDetails
        (
            OrderId,
            ProductId,
            Quantity,
            Rate,
            Amount,
            DiscountId,
            DiscountAmount,
            NetAmount
        )
        SELECT
            @OrderId,
            ProductId,
            Quantity,
            Rate,
            Amount,
            DiscountId,
            DiscountAmount,
            NetAmount
        FROM @OrderDetails;

        COMMIT TRANSACTION;

        SELECT
            @OrderId AS OrderId,
            @OrderCode AS OrderCode,
            @SubTotal AS SubTotal,
            @TotalDiscount AS TotalDiscount,
            @GrandTotal AS GrandTotal;

    END TRY

    BEGIN CATCH

        IF XACT_STATE() <> 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        THROW;

    END CATCH
END;
GO
USE [master]
GO
